<%- include('partials/header') -%>

    <h1 class="text-center">Geräte</h1>

    <br>

    <table class="table">
        <thead>
            <tr>
                <th scope="col" class="d-none d-xl-table-cell text-center">Key</th>
                <th scope="col" class="d-none d-xl-table-cell text-center">Name</th>
                <th scope="col" class="d-none d-xl-table-cell"></th>
            </tr>
        </thead>
        <tbody id="output_tbl">
        </tbody>
    </table>

    <div class="d-flex justify-content-center">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-outline-dark d-block mx-auto" id='add-key'>Hinzufügen</button>
            <button type="button" class="btn btn-outline-dark d-block mx-auto" onclick="update();">
                <i class="fas fa-sync-alt"></i>
            </button>
        </div>
    </div>

    <script>

        window.onload = init;
        function init() {
            fetch('/api/key', { method: 'GET' })
                .then(res => res.json())
                .then(data => get_req = data)
                .then(() => {
                    document.querySelectorAll('.input-name').forEach((input, index) => {
                        //input.value = get_req[index][0];
                    });
                })
                .catch(function (error) {
                    console.log(error);
                })
        }

        function update() {
            const container = document.getElementById('output_tbl');
            let output = "";
            fetch('/api/key', { method: 'GET' })
                .then(res => res.json())
                .then(data => get_req = data)
                .then(() => {
                    console.log(get_req);
                    get_req.forEach((data, index) => {
                        output
                            += "<tr> <th scope='col' class='d-none d-xl-table-cell text-center api-key'>" + data[1] + "</th> <th scope='col'> <div class='input-group align-items-center justify-content-center flex-nowrap'> <div class='form-outline float-start'> <input type='text' class='form-control input-name placeholder-active' value=" + data[0] + "> <div class='form-notch'> <div class='form-notch-leading' style='width: 9px;'></div> <div class='form-notch-middle' style='width: 0px;'></div> <div class='form-notch-trailing'></div> </div> </div> <button type='button' class='btn btn-outline-dark d-table-cell d-xl-none copy-key'> <i class='fas fa-copy'></i> </button> <button type='button' class='btn btn-outline-dark d-table-cell d-xl-none del-key'> <i class='fas fa-trash'></i> </button> </div> </th> <th class='d-none d-xl-table-cell'> <button type='button' class='btn btn-outline-dark copy-key'> <i class='fas fa-copy'></i> </button> <button type='button' class='btn btn-outline-dark del-key'> <i class='fas fa-trash'></i> </button> </th></tr>";
                    });
                    container.innerHTML = output;
                    listeners();
                })
                .catch(function (error) {
                    console.log(error);
                })
        }
        update();

        function index_calc(arg) {
            if (arg % 2 != 0) { arg = (arg / 2) - 0.5; }
            else { arg = (arg / 2); }

            return arg;
        }

        function listeners() {
            document.querySelectorAll('.input-name').forEach((item, index) => {
                item.addEventListener('blur', event => {
                    input_name = document.querySelectorAll('.input-name')[index].value;
                    fetch('/api/key?id=' + index + '&value=' + input_name, { method: 'PATCH' });
                })
            })

            document.querySelectorAll('.del-key').forEach((item, index) => {
                item.addEventListener('click', event => {
                    fetch('/api/key?id=' + (index_calc(index)), { method: 'DELETE' })
                        .then(function (response) {
                            /* location.reload(); */
                            update();
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                })
            })

            document.querySelectorAll('.copy-key').forEach((item, index) => {
                item.addEventListener('click', event => {
                    api_key = document.querySelectorAll('.api-key')[index_calc(index)].innerText.trim();
                    navigator.clipboard.writeText(api_key);
                    alert("API key kopiert:\n\n" + api_key.substr(0, 40) + "...");
                })
            })
        }

        document.getElementById('add-key').addEventListener('click', () => {
            fetch('/api/key', { method: 'POST' })
                .then(function (response) {
                    /* location.reload(); */
                    console.log("ran");
                    update();
                })
                .catch(function (error) {
                    console.log(error);
                });
        });

        /* loading feedback!!! */

    </script>


    <%- include('partials/footer') -%>