<%- include('partials/header') -%>

    <h1>Devices</h1>

    <ul class="list-group">
        <% for(let i=0; i <=api_keys.length-1; i++ ){ %>
            <li class="list-group-item border-0">

                <div class="input-group">
                    <input disabled type="text" class="form-control" value="<%= api_keys[i][1] %>">
                    <!-- <button class="btn btn-outline-secondary" type="button">
                        <i class="fas fa-save"></i>
                    </button> -->
                    <button class="btn btn-outline-secondary copy-key" type="button">
                        <i class="fas fa-copy"></i>
                    </button>
                    <button class="btn btn-outline-secondary del-key" type="button">
                        <i class="fas fa-trash"></i>
                    </button>
                </div>

                <!-- <%= api_keys[i] %> -->

            </li>
            <% } %>
    </ul>

    <button type="button" class="btn btn-primary mx-3 my-2a" id='add-key'>Add</button>

    <script>
        const button = document.getElementById('add-key');
        button.addEventListener('click', function (e) {
            console.log('button was clicked');
            fetch('/api/key', { method: 'POST' })
                .then(function (response) {
                    location.reload();
                })
                .catch(function (error) {
                    console.log(error);
                });
        });

        function del(arg) {
            fetch('/api/key?id=' + arg, { method: 'DELETE' })
                .then(function (response) {
                    location.reload();
                })
                .catch(function (error) {
                    console.log(error);
                });
        }

        document.querySelectorAll('.del-key').forEach((item, index) => {
            item.addEventListener('click', event => {
                console.log("test" + index);
                del(index);
            })
        })

        document.querySelectorAll('.copy-key').forEach((item, index) => {
            item.addEventListener('click', event => {
                value = document.querySelectorAll('.input-group input')[index].value;
                navigator.clipboard.writeText(value);
                alert("Copied the text: " + value);
            })
        })

        let get_req;
        fetch('/api/key', { method: 'GET' })
            .then(res => res.json())
            .then(data => get_req = data)
            .then(() => {
                console.log(get_req);
            })
            .catch(function (error) {
                console.log(error);
            })

    </script>


    <%- include('partials/footer') -%>