<%- include('partials/header') -%>

    <h1 class="text-center">Routen</h1>

    <div class="page-container">
        <div class="accordion mt-4" id="accordionFiles"></div>
    </div>


    <%- include('partials/footer') -%>