<%- include('partials/header') -%>

    <h1 class="text-center">Files</h1>

    <div class="accordion pt-4" id="accordionFiles" style="max-width: 800px; margin:0 auto"></div>

    <%- include('partials/footer') -%>