<%- include('partials/header') -%>

    <h1>Upload</h1>

    <form ref='uploadForm' id='uploadForm' action='http://localhost:3050/api/upload' method='post'
        encType="multipart/form-data">
        <div class="mb-3">
            <label for="formFile" class="form-label">Input File</label>
            <input name="file" class="form-control" type="file" id="formFile">
            <label for="formKey" class="form-label">API Key</label>
            <input name="key" class="form-control" type="text" id="formKey">
        </div>
        <input type='submit' class="btn btn-secondary" value='Upload!'>
    </form>

    <%- include('partials/footer') -%>