<%- include('partials/header') -%>

    <br>

    <form ref='uploadForm' id='uploadForm' action='http://localhost:3050/api/upload' method='post'
        encType="multipart/form-data">

        <div class="card text-center w-25 mx-auto" style="min-width: 300px;">
            <div class="card-header">
                <h5>
                    Manuelles Hochladen
                </h5>
            </div>
            <div class="card-body">
                <label for="formFile" class="form-label">Bitte wählen sie eine gültige CSV-Datei aus.</label>
                <input name="file" class="form-control" type="file" id="formFile">
            </div>
            <div class="card-footer text-muted">
                Es wird kein API Key benötigt.
            </div>
            <input type='submit' class="btn btn-outline-dark" value='Hochladen'>
        </div>

    </form>

    <%- include('partials/footer') -%>