<!DOCTYPE html>
<html>

<head>
    <title>Map</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="shortcut icon" href="/public/favicon.png" />
    <!-- Lib -->
    <link href="/public/style.lib.min.css" rel="stylesheet" />
    <!-- Custom -->
    <link href="/public/style.min.css" rel="stylesheet" />

    <script>
        let data_array = <%- JSON.stringify(data) %>;
    </script>

</head>

<body>

    <style>
        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>

    <div class="map-container" id="map"></div>

    <div class="chart-container mx-auto">
        <canvas id="infoChart"></canvas>
        <canvas id="accChart"></canvas>
        <canvas id="rotChart"></canvas>
    </div>

    <button type="button" class="lb-open btn btn-danger btn-floating">
        <i class="fas fa-info"></i>
    </button>

    <div class="lb-container">
        <button type="button" class="lb-close btn btn-dark btn-floating">
            <i class="fas fa-times"></i>
        </button>

        <div class="lb-content"></div>
    </div>

    <!-- Libraries -->
    <script type="text/javascript" src="/public/script.lib.min.js"></script>
    <!-- Custom -->
    <script type="text/javascript" src="/public/script.min.js"></script>
    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7YQhOm59Gu27sTwldtztMFaQCdUditXc&callback=initMap&v=weekly"
        async></script>
</body>

</html>