<!DOCTYPE html>
<html>

<head>
    <title>Map</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <script>
        function initMap() {
            let data_array = <%- JSON.stringify(data) %>;

            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 3,
                center: new google.maps.LatLng(data_array[1][8], data_array[1][9]),
                mapTypeId: "terrain",
            });

            for (i = 1; i < data_array.length - 1; i++) {
                let pos1 = new google.maps.LatLng(data_array[i][8], data_array[i][9]);
                let pos2 = new google.maps.LatLng(data_array[i + 1][8], data_array[i + 1][9]);

                var check_speed = [10, 50, 100];
                var current_speed = data_array[i][11];

                color = (current_speed < check_speed[0])
                    ? "#ff5733"
                    : (current_speed < check_speed[1])
                        ? "#ffb033"
                        : (current_speed < check_speed[2])
                            ? "#baff33"
                            : "#33ffee";

                polyline = new google.maps.Polyline({
                    path: [pos1, pos2],
                    geodesic: true,
                    strokeColor: color,
                    strokeOpacity: 1.0,
                    strokeWeight: 2,
                    map: map
                });

                console.log(data_array);
            }

            for (i = 1; i < data_array.length; i++) {
                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(data_array[i][8], data_array[i][9]),
                    map: map,
                    icon: {
                        path: google.maps.SymbolPath.CIRCLE,
                        fillColor: '#996699',
                        fillOpacity: 0.5,
                        strokeWeight: 0,
                        scale: 7
                    },
                    title: 'kmh: ' + data_array[i][11] + '; alt: ' + data_array[i][10]
                })
            }
        }
    </script>

</head>

<body>

    <style>
        #map {
            height: 100%;
        }

        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>

    <div id="map"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7YQhOm59Gu27sTwldtztMFaQCdUditXc&callback=initMap&v=weekly"
        async></script>
</body>

</html>