<!DOCTYPE html>
<html>

<head>
    <title>Map</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="shortcut icon" href="/public/favicon.png" />
    <!-- Lib -->
    <link href="/public/style.lib.min.css" rel="stylesheet" />
    <!-- Custom -->
    <link href="/public/style.min.css" rel="stylesheet" />

    <script>
        let data_array = <%- JSON.stringify(data) %>;
    </script>

</head>

<body>

    <style>
        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>

    <div class="map-container" id="map"></div>

    <div class="chart-container mx-auto">

        <canvas id="spChart"></canvas>
        <canvas id="tmpChart"></canvas>
        <canvas id="heiChart"></canvas>
    </div>

    <div id="lb-buttons" class="d-flex flex-column">
        <button type="button" class="lb-open btn btn-danger btn-floating mb-2" data-mdb-toggle="tooltip"
            data-mdb-placement="right" title="Kräfte / Tempo ...">
            <i class="fas fa-expand-arrows-alt"></i>
        </button>

        <button type="button" class="lb-open btn btn-success btn-floating" data-mdb-toggle="tooltip"
            data-mdb-placement="right" title="Temp. / Höhe ...">
            <i class="fas fa-mountain"></i>
        </button>
    </div>


    <div class="lb-container">
        <button type="button" class="lb-close btn btn-dark btn-floating">
            <i class="fas fa-times"></i>
        </button>
        <div class="lb-content">

            <div style="width:80vw; height:100vh; margin: 0 auto; overflow: scroll;">
                <div>
                    <canvas id="overlay" style="position:absolute;pointer-events:none;"></canvas>
                    <canvas id="setChart"></canvas>
                </div>

                <div style=" position:absolute; top: 200px; width: 37vw; left: 10vw;">
                    <canvas id="rxChart"></canvas>
                </div>
                <div style="position:absolute; top: 400px; width: 37vw; left: 10vw;">
                    <canvas id="ryChart"></canvas>
                </div>
                <div style="position:absolute; top: 600px; width: 37vw; left: 10vw;">
                    <canvas id="rzChart"></canvas>
                </div>


                <div style="position:absolute; top: 200px; width: 37vw; right: 10vw;">
                    <canvas id="fxChart"></canvas>
                </div>
                <div style="position:absolute; top: 400px; width: 37vw; right: 10vw;">
                    <canvas id="fyChart"></canvas>
                </div>
                <div style="position:absolute; top: 600px; width: 37vw; right: 10vw;">
                    <canvas id="fzChart"></canvas>
                </div>

            </div>


        </div>
    </div>
    </div>

    <div class="lb-container">
        <button type="button" class="lb-close btn btn-dark btn-floating">
            <i class="fas fa-times"></i>
        </button>
        <div class="lb-content">
            2
        </div>
    </div>

    <!-- Libraries -->
    <script type="text/javascript" src="/public/script.lib.min.js"></script>
    <!-- Custom -->
    <script type="text/javascript" src="/public/script.min.js"></script>
    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script src="https://maps.googleapis.com/maps/api/js?key=<%- gapi %>&callback=initMap&v=weekly" async></script>
</body>

</html>