#map {
  height: 100%;
}

.map-container {
  width: 100%;
  float: left;
  height: 100vh;
  /* @media only screen and (max-width: 992px) {
    width: 100%;
  } */
}

/* .chart-container {
  position: relative;
  width: 30%;
  float: left;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
} */

/* .info-container canvas {
  width: 90vw !important;
  height: 200px !important;
} */

#lb-buttons {
  position: absolute;
  top: 150px;
  left: 15px;
}

.lb-close {
  z-index: 99999;
  position: absolute;
  top: 15px;
  left: 15px;
}

.lb-container {
  overflow: scroll;
  overflow-x: hidden;
  position: absolute;
  z-index: 999999;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease;
}
